---
const projects = [
  {
    id: 1,
    name: "Suitch",
    technology: "React",
    colSpan: 3,
    rowSpan: 2,
  },
  {
    id: 2,
    name: "Mario Bros",
    technology: "Angular",
    colSpan: 2,
    rowSpan: 1,
  },
  {
    id: 3,
    name: "Moto Scroll",
    technology: "Vue",
    colSpan: 2,
    rowSpan: 2,
  },
  {
    id: 4,
    name: "",
    technology: "Svelte",
    colSpan: 2,
    rowSpan: 1,
  },
  {
    id: 5,
    name: "Ember",
    technology: "Ember",
    colSpan: 2,
    rowSpan: 2,
  },
];

---
 <!-- background from https://bg.ibelick.com/ thanks for you pryect is inspration for mi fisrt proyect en the hackaton  -->
<div
  class="absolute  box-border inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"
>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_700px_at_80%_300px,#4286ce,transparent)]"
  >
  </div>

  <!-- modifica la cantidad de columnas que nececites  -->
  <section class="relative border border-red-600/40 h-auto w-full grid grid-cols-5 grid-rows-5 p-1 lg:grid-cols-7 ">

    <!-- primer proyecto -->
     <!-- usa col-span y/o row-span para dictar: de donde a donde se posisionara tu primer proyecto basando en las columnas que dictaste en <section>  -->
        <div
          class={`  p-1  col-span-3 row-span-2 lg:col-span-3 lg:row-span-2 `}
        >
          <a href="#" class="text-balck  bg-black/20  ">
            <div class=" backdrop-blur bg-white/10   h-full w-full p-7  overflow-hidden rounded-2xl border-[1px] border-black/20  ">
              <p>Mi proyecto</p>
              <p>react</p>
              <p>1</p>
            </div>
          </a>
        </div>

        <!-- segunto pryecto  -->
        <div
        class={`p-1    col-span-2 row-span-1 lg:col-span-2 lg:row-span-3`}
      >
        <a href="#" class="text-black bg-black/20 ">
          <div class=" backdrop-blur bg-white/10   h-full w-full p-7  overflow-hidden rounded-2xl border-[1px] border-black/20   ">
            <p>Mi proyecto</p>
            <p>Html</p>
            <p>2</p>
          </div>
        </a>
      </div>

       <!-- tercer pryecto  -->
       <div
       class={`p-1    col-span-2 row-span-1 lg:col-span-2 lg:row-span-3`}
     >
       <a href="#" class="text-black bg-black/20 ">
         <div class=" backdrop-blur bg-white/10   h-full w-full p-7  overflow-hidden rounded-2xl border-[1px] border-black/20 ">
           <p>Mi proyecto</p>
           <p>Atro</p>
           <p>3</p>
         </div>
       </a>
     </div>

        <!-- cuarto pryecto  -->
        <div
        class={`p-1    col-span-5 row-span-1 lg:col-span-3 lg:row-span-1`}
      >
        <a href="#" class="text-black bg-black/20 ">
          <div class="backdrop-blur bg-white/10   h-full w-full p-7  overflow-hidden rounded-2xl border-[1px] border-black/20 ">
            <p>Mi proyecto</p>
            <p>python</p>
            <p>4</p>
          </div>
        </a>
      </div>
  </section>
</div>

<!-- border border-red-600/40 grid grid-cols-2 grid-rows-10 w-full md:grid-cols-3 md:grid-rows-10 xl:grid-cols-7 xl:grid-rows-7 lg:col-start-5 lg:col-end-12  -->
