<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Demo de ideas</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style>


/* bg grid */
/* body {
  background: #554f4f00;
  display: grid;
  justify-items: center;
  align-items: center;
  background-image: 
  linear-gradient(to right, rgba(255, 255, 255, 0.15) 1px, transparent 1px),
  linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  background-size: 156px 125.28px;
  /* mask-image: radial-gradient(circle at center, white 70%, transparent 90%);  */




</style>



